<!DOCTYPE html>
<html lang="en">
    <body>
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="loadPage('templates/index.html')">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('templates/aboutus.html')">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('./Servicios.html')">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadPage('templates/reservaTurno.html')">Reserva de Turnos</a>
            </li>
        </ul>
    </body>
</html>